html {
	background: #eee;
	font-size: 20px;
	font-family: sans;
}

body {
	padding: 1rem;
	margin: auto;
	max-width: 50rem;
	line-height: 1.5rem;
}

pre {
	background: white;
	color: #844;
	padding: 0.5rem;
	font-size: 16px;
	line-height: 1.2em;
}

code { white-space: pre-wrap; }

body > h1:first-child { margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 4rem;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding-bottom: 0.2rem;
}
